{
    "cleric": {
        "name": "Cleric",
        "attributes":{
            "strength": 11,
            "agility": 11,
            "will": 30,
            "knowledge": 18,
            "resourcefulness": 5
        },
        "perks": [
            {
                "name": "Advanced Healer"
            },
            {
                "name": "Blunt Weapon Mastery"
            },
            ...
        ]
    },
    ...
}